body {
    background-color: white;
}

h {
    font-family: Arial, sans-serif;
}

p {
    font-family: Open Sans, sans-serif;
}


a:hover {
    background-color: lightskyblue;

}

h5 {
    font-style: italic;
    color: #636E72;
    margin-bottom: 0%;
    margin-top: 1.5em;
}

h4 {
    margin-top: 2em;
}


.imgIcon {
    width: 1.5em;
}

.caption {
    color: #636E72;
    font-size: 1rem;
}

a:link {
    text-decoration: none;
}

.tagbutton {
    margin: em;
}

.changeNumFont {
    font-family: 'Times New Roman', Times, serif;
    font: bold;
    margin-bottom: 0;
    padding-bottom: 0;
}

.textWhite {
    color: white;
}

.overflowHidden {
    overflow: hidden;
}

.textcentered {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
    text-align: center;
}

a:link {
    text-decoration: none;
}

.textBlack {
    color: black;
}

.rowPhoto {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columnPhoto {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.columnPhoto img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.video {
    aspect-ratio: 16 / 9;
    width: 100%;
}

/* Reveal */
.reveal {
    position: relative;
    transform: translateY(20px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}