h {
    font-family: Montserrat, sans-serif;
}

p {
    font-family: Open Sans, sans-serif;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}



/* Fade-in 1.5 */
.fade-in-fwd02 {
    -webkit-animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* Enter Animation */
@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

/* Enter Black Box */
/* Container holding the image and the text */
.container {
    position: relative;
}

/* Bottom right text */
.image-block {
    position: absolute;
    top: 55%;
    padding-left: 28%;
    padding-right: 30%;
}

/* Nathan Text Block */
.image-block2 {
    position: absolute;
    top: 40%;
    padding-left: 34%;
    padding-right: 30%;
}

/* Nathan Opening Animation */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* Nathan Ending Animation */
@-webkit-keyframes tracking-out-contract-bck {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-500px);
        transform: translateZ(-500px);
        opacity: 0;
    }
}

@keyframes tracking-out-contract-bck {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-500px);
        transform: translateZ(-500px);
        opacity: 0;
    }
}


/* Portfolio Enter Animation */
@-webkit-keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes fade-in-fwd {
    0% {
        -webkit-transform: translateZ(-80px);
        transform: translateZ(-80px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
